###############################################################################
# .shellcheckrc
#
# https://github.com/koalaman/shellcheck
# https://github.com/koalaman/shellcheck/wiki/Ignore
###############################################################################

# Disable SC1090
#
# > Shellcheck can't follow non-constant source.
#
# Sourced paths are dependent on the environment in this program.
#
# https://github.com/koalaman/shellcheck/wiki/SC1090
disable=SC1090

# Disable SC2002
#
# I like cats 😸. Redirection is also used in this project.
#
# https://github.com/koalaman/shellcheck/wiki/SC2002
disable=SC2002

# Disable SC2015
#
# This is used in some places as intended.
#
# https://github.com/koalaman/shellcheck/wiki/SC2015
disable=SC2015

# Disable SC2088
#
# "${HOME}" is preferred in this project, so tildes in quotes are intended as
# tildes and are not expected to expand.
#
# https://github.com/koalaman/shellcheck/wiki/SC2088
disable=SC2088

# Disable SC2120
#
# This is being triggered on `_ls`, which is passed arguments in `_main()`.
# This is likely being triggered because `_ls` is called separately explicitly
# without arguments.
#
# https://github.com/koalaman/shellcheck/wiki/SC2120
# disable=SC2120

# Disable SC2206 and SC2207
#
# `IFS` and `noglob` are set.
#
# https://github.com/koalaman/shellcheck/wiki/SC2206
# https://github.com/koalaman/shellcheck/wiki/SC2207
disable=SC2206,SC2207

# Disable SC2317
#
# Many commands are invoked indirectly.
#
# https://www.shellcheck.net/wiki/SC2317
disable=SC2317
