Package: nb
Version: {{VERSION}}
Architecture: all
Maintainer: "William Melody" <hi@williammelody.com>
Depends: bash-completion, pandoc, python3-pygments, ripgrep, tig, w3m
Section: misc
Priority: optional
Description: CLI note-taking, bookmarking, and archiving with encryption,
 search, Git-backed versioning and syncing, tagging, and more in a single
 portable script.
